/* main */

.main {
    margin: 10px 0 0 0;
}

.section {
    display: flex;
}

.article {
    flex: 7;
}

.aside {
    flex: 3;
}

/* //////////////////////////词云////////////////////////// */

.ciyun {
    background-color: #f5f5f5;
    padding: 1rem;
}

.ciyun .article {
    border: 0px solid #cccccc;
}

/* //////////////////////////词云词////////////////////////// */
.cloud-wrap {
    display: flex;
    flex-wrap: wrap;
    padding: 0.3rem;
    gap: 0.8rem;
}

/* 词云词 */
.cloud-word {
    padding: 0.3rem;
    background-color: #FFF;
    background-color: #eee;
    border: 1px solid #e0e0e0;
    border: 1px solid #007bff62;
    color: #003366;
    border-radius: 6px;
    text-decoration: none;
    white-space: nowrap;
    font-size: 14px;
}

.cloud-word:hover {
    border-color: #007bff;
}


/* //////////////////////////书签墙////////////////////////// */

.link-grid {
    display: flex;
    flex-wrap: wrap;
    padding: 0.3rem;
    gap: 0.8rem;
}

.link-card {
    padding: 0.3rem;
    background-color: #FFF;
    background-color: #eee;
    border: 1px solid #e0e0e0;
    color: #007bff;

    border-radius: 6px;
    text-decoration: none;
    white-space: nowrap;
    font-size: 14px;
}

.link-card:hover {
    border-color: #007bff;
}


/* wzjj */
.wzjj {
    padding: 20px;
    border: 0px solid #cccccc;
    background-color: #555555;
    color: #fff;
}

/* danbendada */
.danbendada {
    padding: 20px;
    border: 0px solid #cccccc;
    background-color: #555555;
    color: #fff;
}

/* 直播live */
.live {
    padding: 20px;
    border: 0px solid #cccccc;
    background-color: #555555;
    color: #fff;
}



.danbendada h2,
.live h2,
.wzjj h2 {
    color: #fff;
    border-bottom: 1px solid #cccccc;
    margin-bottom: 10px;
    font-size: 20px;
    text-align: center;
    padding: 10px 10px;
}